{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
    td, th { border: 1px solid #dddddd; text-align: left; padding: 8px;}
</style>

<div class="example-wrapper">
    
<div>

    <h1>Consulter</h1>
    
    <p style="color: greenyellow"> Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    {{ form(formulaire) }}
    </br>

    {% set total = totalff + fiche['montant'] %}
    
    <p>Fiche de frais pour le mois selectionné : {{ b1date }}</p>
    
    <table>
  <tr>
    <!--<th></th>-->
    <th>Montant total</th>
    <th>Montant ff</th>
    <th>Montant fhf</th>
    <th>Date de création</th>
    <th>Dernière date de modification</th>
    <th>Etat</th>
  </tr>
  <tr>
         <!--<td>{{ fiche['libelle'] }}</td>-->
         <!--<td></td>-->
         <td style="color: red">{{ total }}</td>
         <td>{{ totalff }}</td>
         <td>{{ fiche['montant'] }}</td>
         <td>{{ b1date }}</td> 
         <td>{{ fiche['dateModif'] }}</td>
         <td>{{ fiche['id'] }}</td>
  </tr> 
    </table>
        <br/>
    <table>
  <tr>
    <th></th>
    <th>Quantite forfait étape </th>
    <th>Quantite frais kilométrique</th>
    <th>Quantite nuité d'hotel</th>
    <th>Quantite repas restaurant</th>
    <th>Quantite d'éléments hors forfait</th>
  </tr>  
  <tr>
      <td></td>
      <td>{{ quant[0]['quantite'] }}</td>
      <td>{{ quant[1]['quantite'] }}</td>
      <td>{{ quant[2]['quantite'] }}</td>
      <td>{{ quant[3]['quantite'] }}</td>
      <td>{{ res2['compteur'] }}</td>
  </tr> 
  <tr>
      <td><strong>Montant par frais</strong></td>
      <td>{{ aze[0] }}<br/>( {{ quant[0]['quantite'] }} * 110 )</td>
      <td>{{ aze[1] }}<br/>( {{ quant[1]['quantite'] }} * 0.62 )</td>
      <td>{{ aze[2] }}<br/>( {{ quant[2]['quantite'] }} * 80 )</td>
      <td>{{ aze[3] }}<br/>( {{ quant[3]['quantite'] }} * 25 )</td>
  </tr>    
    </table>

    </br>
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>
    <br/>
    <a id="btn_delete" href="{{ path( 'visiteur/saisirMois' ) }}">Retour à la selection du mois</a>
    
</div>
	 
</div>

{% endblock %}
