{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
    td, th { border: 1px solid #dddddd; text-align: left; padding: 8px;}
</style>

<div class="example-wrapper">
    
<div>
        This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/GSB/src/Controller/VisiteurController.php'|file_link(0) }}">src/Controller/VisiteurController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/GSB/templates/visiteur/consulter.html.twig'|file_link(0) }}">templates/visiteur/consulter.html.twig</a></code></li>
    </ul>
    
    <p> Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    {{ form(formulaire) }}
    </br>

    {% set total = totalff + fiche['montant'] %}
    
    <table>
  <tr>
    <th>Etat</th>
    <th>Libellé</th>
    <th>Date de modification</th>
    <th>Quantite</th>
    <th>Montant total</th>
    <th>Montant ff</th>
    <th>Montant fhf</th>
    <th>Date de création</th>
  </tr>
  <tr>
         <td>{{ fiche['id'] }}</td>
         <td>{{ fiche['libelle'] }}</td>
         <td>{{ fiche['dateModif'] }}</td>
         <td>{{ fiche['quantite'] }}</td>
         <td>{{ total }}</td>
         <td>{{ totalff }}</td>
         <td>{{ fiche['montant'] }}</td>
         <td>{{ fiche['date'] }}</td>      
  </tr>       
         
    </table>

    </br>
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>
    
</div>
	 
</div>

{% endblock %}
