{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <!--<h1>Hello !!! ✅</h1>-->
    <h1>Renseigner</h1>

    <p style=" color: greenyellow"> Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    <p> Renseigner mes frais pour le mois courrant : {{ todaymy }}</p>
    </br>
    
    <a href="{{ path( 'visiteur/renseigner/ff' ) }}">Renseigner frais forfait</a>
    <br/>
    <a href="{{ path( 'visiteur/renseigner/fhf' ) }}">Renseigner frais hors forfait</a>
    </br>
    <br/>
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>
    
    {#
    
    <p> Element forfaitisé </p>
    {{ form(formulaire) }}
    
    <p> Total : {{ total }} euro(s) </br>
        Elements forfaitisés saisis : </br> - {{ totalF[1] }} 
                                      </br> - {{ totalF[2] }}
                                      </br> - {{ totalF[3] }}
                                      </br> - {{ totalF[4] }}</p>
    
    </br>
    <p> Element hors forfait </p>
    {{ form(formulaire2) }}
    <p> Element hors forfait saisis :  euro(s) </p>
    
    </br>
     
    {#<p> éléments forfaitisés :  </p> 
    <p> éléments hors forfait :  </p> #}
    </br>

</div>
{% endblock %}
