{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    a:link, a:visited, #ff15 {
    background-color: #f44336;
    color: white;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    a:hover, a:active, .ff15 {
    background-color: red;
    }

</style>

<div class="example-wrapper">
    <!--<h1>Hello !!! ✅</h1>-->
    <h1>Renseigner</h1>

    <p style=
    " 
    border-left: 6px solid yellowgreen;
    background-color: #e6ffe6;
    text-indent: 1.5%;
    text-max-width: 40%;
    color: yellowgreen;
    "
    > Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    <p> Renseigner mes frais pour le mois courrant : {{ todaymy }}</p>
    </br>
    
    <span>
    <a href="{{ path( 'visiteur/renseigner/ff' ) }}">Renseigner frais forfait</a>
    </span>
    <span>
    <a href="{{ path( 'visiteur/renseigner/fhf' ) }}">Renseigner frais hors forfait</a>
    </span>
    </br>
    <br/>
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>

    
    {#
    
    <p> Element forfaitisé </p>
    {{ form(formulaire) }}
    
    <p> Total : {{ total }} euro(s) </br>
        Elements forfaitisés saisis : </br> - {{ totalF[1] }} 
                                      </br> - {{ totalF[2] }}
                                      </br> - {{ totalF[3] }}
                                      </br> - {{ totalF[4] }}</p>
    
    </br>
    <p> Element hors forfait </p>
    {{ form(formulaire2) }}
    <p> Element hors forfait saisis :  euro(s) </p>
    
    </br>
     
    {#<p> éléments forfaitisés :  </p> 
    <p> éléments hors forfait :  </p> #}
    </br>

</div>
{% endblock %}
