{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
<div>    
    <h1>Saisir la date</h1>
    
    <p style="color: greenyellow"> Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    
</div>
    {% form_theme formulaire 'foundation_5_layout.html.twig' %}
    
    {#<div style="line-height:220%">#}
        {{ form(formulaire) }}
    {#</div>#}
    <br/>
    <p style="color: red">{{ mess }}</p>
    <br/>
    {{ form(formulaire2) }}
    <br/>
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>       
    
</div>
    
    
        {{ form_start(formulaire) }}
        <div id="form">
            <div class="row">
                <div class="large-12 columns">
                    {{ form_row(formulaire.mois) }}
                    {{ form_label(formulaire.mois) }}
                    {{ form_rest(formulaire) }}
                    {{ form_help(formulaire.mois) }}
                    <!--<select id="form_mois" name="form[mois]" style="policy-size: 200%;">
                        <option value="05" selected="selected">05</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>-->
                </div>
            </div> 
        </div>            
        {{ form_end(formulaire) }}
    
    
{% endblock %}
