{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    a:link, a:visited, #ff15 {
    background-color: #f44336;
    color: white;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    a:hover, a:active, .ff15 {
    background-color: red;
    }

    /*.aa {
        display: inline;
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 1px solid blue;
        background-color: yellow; 
    }*/
    
</style>

<div class="example-wrapper">
   
<div>    
    <h1>Saisir la date</h1>
    
    <p style=
    "
    border-left: 6px solid yellowgreen;
    background-color: #e6ffe6;
    text-indent: 1.5%;
    text-max-width: 40%;
    color: yellowgreen;
    "
    > Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>

    {{ form(formulaire2) }}
    <br/>
    
</div>
    {% form_theme formulaire 'foundation_5_layout.html.twig' %}
    
    {#<div style="line-height:220%">#}
        {{ form(formulaire) }}
    {#</div>#}

    <br/>

    <p style=
    "
    border-left: 6px solid red;
    background-color: #ffe6e6;
    text-indent: 1.5%;
    text-max-width: 40%;
    color: red;
    "
    >{{ mess }}</p>

    <br/>
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>     

      
    
</div>
    
{% endblock %}
